# Caminho do arquivo DuckDB relativo a DESTINATION_PATH
DUCKDB_PATH=database.duckdb

# Diretório base onde o arquivo DuckDB está localizado
DESTINATION_PATH=./data

# Configurações do banco Postgres de destino
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres #Senha criada junto com o projeto
#Opcional
DB_SSLMODE=
DB_SSLROOTCERT=

# Controles do loader incremental
TRUNCATE_BEFORE_LOAD=false
BATCH_SIZE=5000
# Defina apenas se quiser forçar uma coluna específica de timestamp
INCREMENTAL_TIMESTAMP_COLUMN=
